<!DOCTYPE html>
<html>
  <head>
    <title>Employee Management System - Login</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function() {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        'script',
        'https://mc.yandex.ru/metrika/tag.js',
        'ym'
      );

      ym(53961634, 'init', {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/53961634"
          style="position:absolute; left:-9999px;"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="icon" href="/favicon.png" sizes="32x32" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <!---Import custom css file-->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="row">
      <div class="col l12 m12 s12 greeting">
        <h2>Welcome</h2>
        <p>to Nordic Clean Employee Management System</p>
        <form
          class="login-form col l4 m6 s7 offset-l4 offset-m4 offset-s2"
          action="login"
          method="POST"
        >
          <div class="input-field">
            <input type="text" name="username" placeholder="Username" />
          </div>
          <div class="input-field">
            <input type="password" name="password" placeholder="Password" />
          </div>
          <input
            class="btn-small white black-text"
            type="submit"
            value="Login"
          />
        </form>
        <div class="row">
          <a
            class="col l4 m5 s5 offset-l4 offset-m4 offset-s3 black-text"
            href="/forgot"
            >Forgot password?</a
          >
        </div>
      </div>
    </div>

    <% if (success.length > 0) { %>
    <script>
      M.toast({ html: '<%= success %>' });
    </script>
    <% } else if (error.length > 0) { %>
    <script>
      M.toast({ html: '<%= error %>' });
    </script>
    <% } %>
  </body>
</html>
